* { 
background-color: beige;

}

header > h1 {
    border: 2px solid red;
    width: 18%;
    font-size: larger;
}


#re_id {
    background-color: yellowgreen; 
}

#frame {
    border: 5px solid;
    border-color: black;
    width: 18%;
}

#num {
    border: 2px solid orchid;
    font-size: larger;
    padding-left: 15px;
    
}

main {
    border-color: black;
    padding-inline: 3px;
}

#equal{
    background-color: green;
    font-size: large;
}

#del {
    background-color: red;
}

#zero {
    background-color: yellow;
    font-size: small;
}

.classdiv, .classmul {
    background-color: brown; }

.classplus, .classminus {
    background-color: olivedrab;
}

span::before {
    border:2px solid black;
}

header > h1::before{
    content: ">>";
    color: red;
}
